.navigation-links-group-wrapper {
  display: contents;
}
 
.navigation-links-group-thq-navigation-links-group-elm {
  width: 249px;
  height: 21px;
  position: relative;
}
 
.navigation-links-group-thq-navigation-link-elm1 {
  text-decoration: none;
}
 
.navigation-links-group-thq-navigation-link-elm2 {
  text-decoration: none;
}
 
.navigation-links-grouproot-class-name {
  width: auto;
}

.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-thq-navigation-wrapper-elm {
  align-items: flex-start;
  flex-direction: column;
}
 
.navigation-thq-navigation-logo-link-elm {
  text-decoration: none;
}
 
.navigation-image {
  width: 200px;
  object-fit: cover;
}
 
.navigation-thq-navigation-desktop-menu-elm {
  width: auto;
  height: 17px;
}
 
.navigation-thq-navigation-actions-group-elm {
  width: 100%;
  min-width: auto;
}
 
.navigation-thq-btn-elm1 {
  text-decoration: none;
}
 
.navigation-thq-btn-elm2 {
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-image {
  width: 200px;
  object-fit: cover;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}

.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-thq-hero-port-logistics-elm {
  width: 100%;
  height: 993px;
  padding-bottom: 153px;
}
 
.home-thq-hero-wrapper-elm {
  height: 793px;
  min-height: 100vh;
  padding-top: 1px;
}
 
.home-thq-hero-content-elm {
  height: 100%;
}
 
.home-thq-btn-elm3 {
  background-color: var(--color-secondary);
}
 
.home-container3 {
  display: none;
}
 
.home-container4 {
  display: contents;
}
 
.home-container5 {
  display: none;
}
 
.home-container6 {
  display: contents;
}
