.navigation-links-group-wrapper {
  display: contents;
}
 
.navigation-links-group-thq-navigation-links-group-elm {
  width: 50%;
  height: 39px;
  position: relative;
}

.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-thq-navigation-wrapper-elm {
  align-items: flex-start;
  flex-direction: column;
}
 
.navigation-thq-navigation-logo-link-elm {
  text-decoration: none;
}
 
.navigation-image {
  width: 200px;
  object-fit: cover;
}
 
.navigation-thq-navigation-desktop-menu-elm {
  width: 797px;
  height: 17px;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-image {
  width: 200px;
  object-fit: cover;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}

.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-thq-hero-port-logistics-elm {
  width: 100%;
  height: 935px;
}
 
.home-thq-btn-elm3 {
  background-color: var(--color-secondary);
}
 
.home-container3 {
  display: none;
}
 
.home-container4 {
  display: contents;
}
 
.home-container5 {
  display: none;
}
 
.home-container6 {
  display: contents;
}
 
.home-container7 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon36 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text21 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
