.navigation-links-group-thq-navigation-links-group-elm {
  width: 249px;
  height: 21px;
  position: relative;
}
 
.navigation-links-group-thq-navigation-link-elm1 {
  text-decoration: none;
}
 
.navigation-links-group-thq-navigation-link-elm2 {
  text-decoration: none;
}
 
.navigation-links-grouproot-class-name {
  width: auto;
}
