.navigation-links-group-wrapper {
  display: contents;
}
 
.navigation-links-group-thq-navigation-links-group-elm {
  width: 249px;
  height: 21px;
  position: relative;
}
 
.navigation-links-group-thq-navigation-link-elm1 {
  text-decoration: none;
}
 
.navigation-links-group-thq-navigation-link-elm2 {
  text-decoration: none;
}
 
.navigation-links-grouproot-class-name {
  width: auto;
}

.navigation-container1 {
  display: contents;
}
 
.navigation-thq-navigation-wrapper-elm {
  align-items: flex-start;
  flex-direction: column;
}
 
.navigation-thq-navigation-logo-link-elm {
  text-decoration: none;
}
 
.navigation-image {
  width: 200px;
  object-fit: cover;
}
 
.navigation-thq-navigation-desktop-menu-elm {
  width: auto;
  height: 17px;
}
 
.navigation-thq-navigation-actions-group-elm {
  width: 100%;
  min-width: auto;
}
 
.navigation-thq-btn-elm1 {
  text-decoration: none;
}
 
.navigation-thq-btn-elm2 {
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
